<div>
  <h1>FlavorForge</h1>
  <form (submit)="searchRecipes()">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search for recipes"
      name="search"
    />
    <button type="submit">Search</button>
  </form>
  <button (click)="clearSearchResults()">Clear Search</button>

  <div *ngIf="searchResults.length > 0">
    <h2>Search Results:</h2>
    <div>
      <div
        *ngFor="let recipe of paginatedResults"
        [routerLink]="['/recipe', recipe.idMeal]"
      >
        <div>
          <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" />
          <p>{{ recipe.strMeal }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="searchResults.length > itemsPerPage">
      <button *ngFor="let page of getPageArray()" (click)="onPageChange(page)">
        {{ page }}
      </button>
    </div>
  </div>
</div>
