@import "/src/assets/styles/variables.scss";

.background-container.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;

  & .landing__logo {
    color: #ffff;
    font-size: 3rem;
    font-family: $header;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    & .btn {
    }
  }
}
