<div class="background-container details">
  <div class="details__container">
    <button type="button" class="btn" (click)="goBack()">Back</button>
    <h2>{{ meal?.strMeal }}</h2>
    <img [src]="meal?.strMealThumb" alt="{{ meal?.strMeal }}" />
    <h3 class="toggle" (click)="toggleIngredients()">Ingredients</h3>
    <ul *ngIf="showIngredients" [@inOutAnimation]>
      <li *ngFor="let ingredient of getIngredientsArray(meal)">
        {{ ingredient }}
      </li>
    </ul>
    <h3 class="toggle" (click)="toggleInstructions()">Instructions</h3>
    <p *ngIf="showInstructions" [@inOutAnimation]>
      {{ meal?.strInstructions }}
    </p>
    <button
      class="btn"
      type="button"
      *ngIf="isUserLoggedIn()"
      (click)="addToFavorites()"
      [disabled]="isRecipeInFavorites"
    >
      Add to Favorites
    </button>
  </div>
</div>
