<div>
  <button (click)="goBack()">Back to Search Results</button>
  <h2>{{ meal?.strMeal }}</h2>
  <img [src]="meal?.strMealThumb" alt="{{ meal?.strMeal }}" />
  <ul>
    <li *ngFor="let ingredient of getIngredientsArray(meal)">
      {{ ingredient }}
    </li>
  </ul>
  <p>{{ meal?.strInstructions }}</p>
  <div *ngIf="meal?.strYoutube" class="video-container">
    <iframe
      width="560"
      height="315"
      [src]="getVideoEmbedUrl(meal?.strYoutube)"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
