<div class="background-container about">
  <div class="about">
    <h1>Welcome to FlavorForge!</h1>

    <h2>About us</h2>
    <p>
      FlavorForge is more than just a personal project; it's a culinary journey
      crafted with passion and creativity. As an aspiring developer and food
      enthusiast, I've embarked on a mission to create a delightful recipe
      homepage that sparks inspiration in the kitchen.
    </p>

    <h2>Our mission</h2>
    <p>
      At FlavorForge, I believe that cooking is an art, a form of
      self-expression that brings people together. My mission is to provide a
      platform where food lovers can discover, share, and explore a world of
      delicious recipes.
    </p>

    <h2>The project</h2>
    <p>
      Born out of my shared love for both technology and gastronomy, FlavorForge
      is my brainchild. I aim to make cooking enjoyable and accessible to
      everyone, whether you're a seasoned chef or a kitchen novice. Expect a
      user-friendly interface, a diverse collection of recipes, and exciting
      features that will elevate your cooking experience
    </p>

    <h2>Why FlavorForge?</h2>
    <p>
      The name reflects my commitment to crafting and forging unique flavors.
      Just like a blacksmith molds metal into beautiful shapes, I mold
      ingredients into delectable dishes. FlavorForge is where my culinary
      creativity meets technological innovation.
    </p>

    <h2>Credits</h2>
    <p>
      Recipe Data provided by
      <a href="https://www.themealdb.com/" target="_blank" rel="noopener"
        >The Meal DB</a
      >
      Background Images by Valeria Aksakova on Freepik
    </p>

    <h2>Join Me on This Culinary Adventure</h2>
    <p>
      Explore FlavorForge, try out my recipes, and share your culinary creations
      with the community. Together, let's forge a flavorful world of food
      experiences. Thank you for being a part of FlavorForge!
    </p>
  </div>
</div>
