<div *ngFor="let day of daysOfWeek" class="day-column">
  <div class="day-header" (click)="toggleRecipe(day)">
    {{ day }}
    <div *ngIf="plannedWeek[day]">
      <h3>{{ plannedWeek[day].strMeal }}</h3>
      <div *ngIf="isExpanded(day)">
        <ul>
          <li *ngFor="let ingredient of getIngredients(plannedWeek[day])">
            {{ ingredient }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-recipe-modal
  #recipeModal
  [userFavorites]="userFavorites"
></app-recipe-modal>
