@import "normalize.css";

.background-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;

  &.landing {
    background-image: url("./assets/images/vintage-old-rustic-cutlery-dark.jpg"); //<a href="https://www.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_6216945.htm#query=food%20black%20background&position=0&from_view=keyword&track=ais&uuid=7a949fe1-5941-40e6-9e4e-3686c1e199be">Image by valeria_aksakova</a> on Freepik
  }
  &.recipes {
    background-image: url("./assets/images/various-vegetables-black-table-with-space-message.jpg");
  }
}

.input__text {
  padding: 10px;
  border-radius: 10px;
  width: 20vw;
}

.btn {
  width: 8vw;
  padding: 10px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #2f2f2f;
  }

  &.active-page {
    &.active-page {
      background-color: #2f2f2f;
    }

    &__main {
    }

    &__secondary {
    }

    &__third {
    }
  }
}
