<div class="background-container register">
  <div class="register__container">
    <h2>Create an account</h2>
    <form (ngSubmit)="register()" [ngClass]="{ disabled: isSubmitting }">
      <input
        class="input__text"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        title="email"
        placeholder="E-mail"
      />
      <input
        class="input__text"
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        title="username"
        placeholder="Username"
      />
      <input
        class="input__text"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        title="password"
        placeholder="Password"
      />
      <input
        class="input__text"
        title="confirm password"
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        placeholder="Confirm password"
      />

      <div class="gdpr-agreement">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="gdprAgreed"
            name="gdprAgreement"
            required
          />
          I agree to the GDPR terms
        </label>
      </div>

      <button
        class="btn"
        type="submit"
        [disabled]="isSubmitting || !gdprAgreed || !areFieldsFilled()"
      >
        Register
      </button>

      <div class="gdpr-text">
        By registering, you agree to our GDPR terms. These include the handling
        of your personal data in accordance with our privacy policy.
      </div>
      <div *ngIf="passwordMismatchError" class="error-message">
        {{ passwordMismatchError }}
      </div>

      <div *ngIf="invalidEmailError" class="error-message">
        {{ invalidEmailError }}
      </div>

      <mat-spinner *ngIf="isSubmitting" diameter="30"></mat-spinner>

      <div *ngIf="registrationSuccess" class="success-message">
        Registration successful! Redirecting...
      </div>
      <div *ngIf="registrationError" class="error-message">
        Registration failed: {{ registrationErrorMessage }}
      </div>
    </form>
  </div>
</div>
