<div class="background-container register">
  <div class="register__container">
    <h2>Create an account</h2>
    <form (ngSubmit)="register()" [ngClass]="{ disabled: isSubmitting }">
      <input
        class="input__text"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        title="email"
        placeholder="E-mail"
      />
      <input
        class="input__text"
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        title="username"
        placeholder="Username"
      />
      <input
        class="input__text"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        title="password"
        placeholder="Password"
      />
      <input
        class="input__text"
        title="confirm password"
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        placeholder="Confirm password"
      />

      <button class="btn" type="submit" [disabled]="isSubmitting">
        Register
      </button>

      <mat-spinner *ngIf="isSubmitting" diameter="30"></mat-spinner>

      <div *ngIf="registrationSuccess" class="success-message">
        Registration successful! Redirecting...
      </div>
      <div *ngIf="registrationError" class="error-message">
        Registration failed: {{ registrationErrorMessage }}
      </div>
    </form>
  </div>
</div>
